########################################
###    CENM configuration options    ###
########################################

# Display more messages while executing Kubernetes deployment
bashDebug: false

# Docker images to use by the Gateway Service Helm chart
gatewayImage:
  repository: corda/enterprise-farm
  tag: 1.0.1-zulu-openjdk8u242
  pullPolicy: Always

# Volume size for etc/ directory
volumeSizeGatewayEtc: 1Gi

# Volume size for logs/ directory
volumeSizeGatewayLogs: 5Gi

# Sleep time (in seconds) after an error occured
sleepTimeAfterError: 300

# Auth Service port
authPort: 8081

# Gateway Service port
gatewayPort: 8080

# Zone Service port
zonePort: 12345

# Enable container displaying live logs
logsContainersEnabled: true

########################################
###   Kubernetes related settings    ###
########################################

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: LoadBalancer
  port: 8080

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
  #   cpu: 100m
    memory: 2Gi
  requests:
  #   cpu: 100m
    memory: 2Gi

nodeSelector: {}

tolerations: []

affinity: {}

## Liveness and readiness probe values
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes
##
livenessProbe:
  enabled: false
  failureThreshold: 3
  initialDelaySeconds: 10
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  enabled: false
  failureThreshold: 3
  initialDelaySeconds: 10
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1


storageClass: cenm

# Name of Kubernetes secret storing credentials to Docker registry
imagePullSecrets:
  - name: cenm-registry

backoffLimit: 6
