apiVersion: v1
kind: Namespace
metadata:
  name: cenm

---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: cenm
  name: all-in-cenm-namespace
rules:
- apiGroups: ["", "extensions", "apps"] # "" indicates the core API group
  resources: ["*"]
  verbs: ["*"]

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: cenm
  name: everything-in-cenm
roleRef:
  kind: Role
  name: all-in-cenm-namespace
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: Group
  name: "[use your own group]"
  apiGroup: rbac.authorization.k8s.io
